@font-face {
  font-family: "NanumBarunGothic";
  src: url("../fonts/NanumBarunGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}

header {
  background-color: cornflowerblue;
}

header .inner {
  background-color: royalblue;
  height: 120px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

header .logo {
  /* Browser에게 정확한 Height를 알려줘야한다. */
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0 ;
}
